<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <!-- Include the Navbar -->
    {% include 'navbar.html' %}

    <!-- Include the Notifications -->
    {% include 'notifications.html' %}

    <!-- Main Content -->
    <div class="main-content">
        <h1 class="main-heading">Welcome to Bean and Brew</h1>
    </div>

</body>
</html>
